header {
  display: block;
}

p{
	font-size:28px;
}

body {
  font-family: Georgia, serif;
}
.header{
	widith:100%;
	height:100%;
	background-image:url("backgroundW.jpg");
	background-position:center;
	background-attachment:fixed;
	background-size:100%;
}

